.add {
  margin-left: 50px;
  margin-top: 40px;
  width: 50%;
  font-size: 17px;
}
.add_img_upload img {
  width: 100px;
  cursor: pointer;
}

.flex_col {
  display: grid;
  row-gap: 10px;
}
.add_product_name,
.add_product_description {
  color: black;
}
.add_product_name input,
.add_product_description textarea {
  padding: 10px;
}
.add_category_price {
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-flow: column;
  column-gap: 30px;
}
.add_category_price select,
.add_category_price input {
  padding: 10px;
}
.add_btn {
  border: none;
  padding: 15px;
  background-color: rgb(8, 152, 8);
  color: white;
  cursor: pointer;
  transition: all 0.3s;
}
.add_btn:hover {
  background-color: rgb(8, 126, 8);
}
