.homePage {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.homeLeft {
  height: 100%;
  padding-left: 70px;
}
.homeRight {
  height: 100%;
  display: grid;
  align-items: center;
}
.homePicture {
  overflow: hidden;
}
.homeRight img {
  display: inline-block;
  width: 350px;
  height: 400px;
  border: 1px solid gold;
}
